<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifspsaocarlos.sdm.projetogestordejogos" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/main_activity_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DiceActivity"
            android:label="@string/dice_activity_name"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ifspsaocarlos.sdm.projetogestordejogos.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.RouletteActivity"
            android:label="@string/roulette_activity_name"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ifspsaocarlos.sdm.projetogestordejogos.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ChessActivity"
            android:label="@string/chess_activity_name"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ifspsaocarlos.sdm.projetogestordejogos.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ChronometerActivity"
            android:label="@string/chronometer_activity_name"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ifspsaocarlos.sdm.projetogestordejogos.activity.MainActivity" />
        </activity>
    </application>

</manifest>
